<div style="padding:20px" class="mat-app-background">
<div fxFlex fxLayout="column" fxLayoutGap="20px">
<div>
<h3>Transwave Demo</h3>
</div>
<div>
  <button mat-raised-button color="primary" id="btnStart" (click)="switchSpeechRecognition()">
    {{ buttonText }}
  </button>
</div>
<div>
<form>
  <mat-form-field fxFlex="60">
    <textarea #results name="results" [(ngModel)]="textData" readonly matInput rows="11"></textarea>
  </mat-form-field>
</form>
<div>
  <h2 class="latency">AVERAGE ROUND TRIP LATENCY BETWEEN THE CLIENT AND INFERENCE SERVER</h2>
  <h3 class="latency">{{ping | number:'1.0-0'}}ms</h3>
</div>
</div>
</div>
</div>
